@charset "utf-8";
/* CSS Document */

.desc-box {
	position: absolute;
	top: 50%;
	transition: 0.6s ease;
	transition-property: transform, opacity;
}
.about {
	right: 0;
	margin-right: 50%;
}
.services {
	left: 0;
	margin-left: 50%;
}
.desc-box h1 {
	font-family: 'acumin-cond-black';
	margin: 0;
	padding: 0;
}
.desc-box p {
	font-family: 'minion';
	margin: 0;
	padding: 0;
	letter-spacing: 1pt;
}
.desc-box ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.desc-box ol li {
	font-family: 'avenir';
	opacity: 0.5;
	display:list-item;
}
#me {
	position: absolute;
	right: 0;
	margin-right: 10.25%;
	width: 30%;
	top: 23%;
}
#services {
	position: absolute;
	left: 0;
	width: 30%;
	top: 0; bottom: 0;
	margin: auto;
	margin-left: 10.25%;
}
.img-overlay {
	position: absolute;
	transform-origin: right;
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#me-overlay {
	right: 0;
	margin-right: 10.25%;
	width: 30%;
	top: 23%;
}
#services-overlay {
	left: 0;
	width: 30%;
	top: 0; bottom: 0;
	margin: auto;
	margin-left: 10.25%;
}
.shrink-img {
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
/*DEFAULTS*/





/*COMPUTER SCREEN QUERIES BELOW!!!!*/

/*1024*/
@media only screen and (min-width: 1024px) {
	.section {
		height: 600px;
	}
	.desc-box {
		width: 250px;
	}
	.desc-box h1 {
		font-size: 22pt;
		margin-bottom: 20px;
	}
	.desc-box p {
		font-size: 10pt;
	}
	.desc-box ol {
		margin-top: 15pt;
	}
	.desc-box ol li {
		font-size: 10pt;
		margin-top: 3pt;
	}
}
/*1024*/

/*1280*/
@media only screen and (min-width: 1280px) {
	.section {
		height: 720px;
	}
	.desc-box {
		width: 270px;
	}
	.desc-box h1 {
		font-size: 24pt;
		margin-bottom: 30px;
	}
	.desc-box p {
		font-size: 11pt;
	}
	.desc-box ol {
		margin-top: 20pt;
	}
	.desc-box ol li {
		font-size: 11pt;
		margin-top: 4pt;
	}
}
/*1280*/

/*1366*/
@media only screen and (min-width: 1366px) {
	.section {
		height: 768px;
	}
	.desc-box {
		width: 300px;
	}
	.desc-box h1 {
		font-size: 26pt;
		margin-bottom: 30px;
	}
	.desc-box p {
		font-size: 12pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 12pt;
		margin-top: 4pt;
	}
}
/*1366*/

/*1600*/
@media only screen and (min-width: 1600px) {
	.section {
		height: 900px;
	}
	.desc-box {
		width: 320px;
	}
	.desc-box h1 {
		font-size: 28pt;
		margin-bottom: 30px;
	}
	.desc-box p {
		font-size: 13pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 13pt;
		margin-top: 4pt;
	}
}
/*1600*/


/*1920*/
@media only screen and (min-width: 1900px) {
	.section {
		height: 1000px;
	}
	.desc-box {
		width: 370px;
	}
	.desc-box h1 {
		font-size: 30pt;
		margin-bottom: 50px;
	}
	.desc-box p {
		font-size: 14pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 14pt;
		margin-top: 4pt;
	}
}
/*1920*/







/*RATIO*/