@charset "utf-8";
/* CSS Document */
.section {
	height: 100vh;
	width: 100vw;
	margin-left: -25vw;
	position: relative;
}
.half-section {
	display: none;
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 0;right: 0;
	margin: auto;
	width: 30%;
	transition: 1s ease;
	transition-property: transform, opacity;
}
.form-control {
	display: list-item;
	right: 0;
	width: 100%;
	margin-top: 30pt;
	border: none;
	border-bottom: solid 1px #b2a8a5;
	background-color: transparent;
	font-family: 'avenir';
	letter-spacing: 1pt;
}
::placeholder {
	color: #b2a8a5;
	opacity: 1;
}
.submit {
	width: 100%;
	background-color: #2b2b2b;
	border: none;
	color: white;
}
.button-black {
	background-color: #434343;
}
/*DEFAULTS*/





/*COMPUTER SCREEN QUERIES BELOW!!!!*/

/*1024*/
@media only screen and (min-width: 1024px) {
}
/*1024*/

/*1280*/
@media only screen and (min-width: 1280px) {
}
/*1280*/

/*1366*/
@media only screen and (min-width: 1366px) {
}
/*1366*/

/*1600*/
@media only screen and (min-width: 1600px) {
}
/*1600*/


/*1920*/
@media only screen and (min-width: 1900px) {
	.contact-info h1 {
		font-size: 12pt;
	}
}
/*1920*/







/*RATIO*/