@charset "utf-8";
/* CSS Document */

/*FONTS*/
@font-face {
	font-family: 'dense';
	src: url(../fonts/dense-bold.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'acumin-cond-black';
	src: url(../fonts/acumin-cond-black.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir';
	src: url(../fonts/avenir-light.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
/*FONTS*/



/*DEFAULTS*/
::-webkit-scrollbar { 
    display: none; 
}
body {
	color: #2b2b2b;
	margin: 0;
	padding: 0;
	background-color: #f2f0ed;
	background-color: #f8f0ed;
	overflow-x: hidden;
}
#wrapper {
	position: relative;
}
.content-section {
	width: 75%;
	height: auto;
	display: inline-block;
	margin-left: 25%;
	position: relative;
}
.menu-section {
	width: 25%;
	height: 100%;
	position: fixed;
	z-index: 100;
}
#close-btn {
	position: absolute;
	width: 40px;
	height: 40px;
	opacity: 0;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	transform: rotate(45deg) translateY(40px);
	transition: 1s ease;
	transition-property: transform, opacity;
}
.line {
	background-color: #2b2b2b;
	width: 4px;
	height: 100%;
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
	margin: auto;
}
.line:nth-child(2) {
	transform: rotate(90deg);
}

.section {
	width: 100%;
	position: relative;
}
.full {
	width: 100vw;
	transform: translateX(-25vw);
}
.footer {
	width: 100vw;
	position: relative;
	background-color: white;
	background-color: #e0dbd8;
	background-color: #e4dad7;
}
.footer-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f8f0ed;
	transform: scaleY(0);
	transform-origin: top;
	transition: 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#footer-logo {
	position: absolute;
	height: 30%;
	top: 0; bottom: 0; right: 0;
	margin: auto;
	margin-right: 8%;
}
.footer h1 {
	font-family: 'avenir';
	opacity: 0.4;
	margin: 0;
	letter-spacing: 1pt;
}
#footer-info {
	position: absolute;
	left: 0;
	margin-left: 25%;
	top: 50%;
	transform: translateY(-50%);
}
.overlay-open {
	transform: scaleY(1);
	transition: 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
#menu-logo {
	position: absolute;
	width: 38%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 10%;
	cursor: pointer;
}
.menu-section ol {
	list-style: none;
	margin: 0;
	padding: 0;
	transform: rotate(-90deg) translateY(-50%);
	transform-origin: center;
	position: absolute;
	top: 50%;
}
.menu-section li {
	font-family: 'acumin-cond-black';
	display: inline-block;
	cursor: pointer;
	transition: opacity 0.5s ease;
	position: relative;
}
.fadeInUp {
	opacity: 1!important;
	transform: translateY(-50%)!important;
	transition: 1s ease;
	transition-property: transform, opacity;
}
.button {
	position: relative;
	color: #2B2B2B;
	font-family: 'dense';
	border: 2px solid #2B2B2B;
	text-align: center;
	transition: color 0.4s ease;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
	outline: none!important;
}
.button h2 {
	position: relative;
	margin: 0;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 100;
}
a {
	color: inherit;
	text-decoration: none;
}
.button:hover {
	color: white;
	transition: 0.4s ease;
}
.button:hover .button-black {
	transform: scaleY(1);
	transition: 0.4s ease;
}
.button-black {
	position: absolute;
	background-color: #2B2B2B;
	transform: scaleY(0);
	transition: 0.4s ease;
	transform-origin: bottom;
	width: 100%;
	height: 100%;
}
.menu-section .button {
	border: 1px solid #2b2b2b;
	position: absolute;
	bottom: 0;
	margin-left: 31%;
	margin-bottom: 10%;
	transition: color 0.4s ease;
}
.menu-section .button:hover {
	color: black;
	animation: pulse 2s linear infinite;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.4)
	}
	40% {
		box-shadow: 0 0 15px 15px rgba(0,0,0,0)
	}
	80% {
		box-shadow: 0 0 15px 15px rgba(0,0,0,0)
	}
	100% {
		box-shadow: 0 0 15px 0 rgba(0,0,0,0)
	}
}


/*DESCS*/
.desc-box {
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	opacity: 0;
	transition: 0.6s ease;
	transition-property: transform, opacity;
}
.desc-box h1 {
	font-family: 'acumin-cond-black';
	margin: 0;
	padding: 0;
}
.desc-box h3 {
	font-family: 'minion';
	margin: 0;
	font-style: italic;
	text-decoration: underline;
}
.desc-box p {
	font-family: 'minion';
	margin: 0;
	padding: 0;
	letter-spacing: 1pt;
}
.desc-box ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.desc-box ol li {
	font-family: 'avenir';
	opacity: 0.5;
	display:list-item;
}
.opening-desc .desc-box {
	right: 0;
	margin-right: 60.25%;
}
.about-desc {
	right: 0;
	margin-right: 55%;
}
.services-desc {
	left: 0;
	margin-left: 50%;
}
.project-wrap .desc-box {
	position: relative;
	float: right;
	top: inherit;
}
/*END DESCS*/



/*IMAGES*/
#opening-logo {
	position: absolute;
	height: 30%;
	left: 0;right: 0;top: 0; bottom: 0;
	margin: auto;
}
#logo-sprite {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	background-image: url(../img/sprite-full.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.sprite-animation {
	animation: draw-sprite 1s steps(41) forwards;
	animation-delay: 0.5s;
}
.sprite-animation-reverse {
	animation: draw-sprite-reverse 1s steps(41) forwards;
}
#img-me {
	position: absolute;
	right: 0;
	width: 35%;
	top: 0; bottom: 0;
	margin: auto;
	margin-right: 10.25%;
}
#img-services {
	position: absolute;
	left: 0;
	width: 35%;
	top: 0; bottom: 0;
	margin: auto;
}

#img-me-overlay {
	right: 0;
	width: 35%;
	top: 0; bottom: 0;
	margin: auto;
	margin-right: 10.25%;
}
#img-services-overlay {
	left: 0;
	width: 35%;
	top: 0; bottom: 0;
	margin: auto;
}
#img-paris-view {
	width: 40%;
	position: absolute;
	right: 0; top: 0; bottom: 0;
	margin: auto;
	margin-right: 10.25%;
}
#img-paris-view-overlay {
	width: 40%;
	right: 0; top: 0; bottom: 0;
	margin: auto;
	margin-right: 10.25%;
}
.img-overlay {
	position: absolute;
	transform-origin: right;
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.shrink-img {
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
/*END IMAGES*/




/*PORTFOLIO SECTION(so large it needs its own section)*/
.project-wrap {
	position: relative;
	display: inline-block;
	width: 70%;
	float: right;
	margin-right: 10.25%;
	top: 50%;
	transform: translateY(-30%);
	opacity: 0;
	transition: 1s ease;
	transition-property: transform, opacity;
}
.project-wrap .desc-box {
	opacity: 1;
	transform: translate(0);
}
.portfolio-section {
	height: 75vh;
}
.portfolio-section:nth-child(2) {
	height: 100vh;
}
.project-wrap img {
	position: relative;
	float: right;
	margin-top: -30%; 
}
.left-aligned {
	float: left;
}
.bona-desc {
	margin-right: 55%;
}
.sweeterman-desc {
	float: left!important;
	margin-right: 45%;
}
.peak-desc {
	margin-right: 55%;
}
.trap-desc {
	float: left!important;
	margin-right: 45%;
}
.fp-desc {
	margin-right: 55%;
}
#coffee {
	width: 45%;
}
#sweets {
	float: left;
	margin-left: 50%;
	width: 35%;
}
#peak {
	width: 45%;
}
#trap {
	float: left;
	margin-left: 50%;
	width: 35%;
}
#fp {
	width: 45%;
}


/*PROJECT PAGES*/

.project-section {
	width: 89.75%;
	display: inline-block;
	height: auto;
	opacity: 0;
	transition: opacity 1s ease;
}
.project-section h1 {
	text-align: center;
	font-family: 'acumin-cond-black';
	margin: 0; padding: 0;
	margin-top: 50pt; margin-bottom: 50pt;
}
.project-section img {
	position: relative;
	margin-bottom: 150pt;
	left: 50%;
	transform: translateX(-50%);
}
.larger-img {
	width: 100%;
}
.smaller-img {
	width: 20%;
}
video {
	width: 100%;
	margin-bottom: 150pt;
}

/*END PROJECT PAGES*/

/*565 - 736 SIDEWAYS PHONES*/
@media only screen and (min-width: 565px) and (max-width: 736px) {
	.menu-section ol li {
		font-size: 8pt;
	}
	.menu-section ol li:nth-child(1) {
		margin-right: 10pt;
	}
	.menu-section ol li:nth-child(2) {
		margin-right: 10pt;
	}
	.section {
		height: 320px;
	}
	.footer {
		height: 160px;
	}
	.footer h1 {
		font-size: 8pt;
	}
	.desc-box {
		width: 140pt;
		left: 0;
	}
	.desc-box h1 {
		font-size: 14pt;
		margin-bottom: 10pt;
	}
	.desc-box h3 {
		font-size: 9pt;
		margin-bottom: 9pt;
	}
	.desc-box p {
		font-size: 9pt;
	}
	.desc-box ol li {
		font-size: 9pt;
		margin-top: 3pt;
	}
	.button {
		width: 50pt;
		height: 25pt;
		margin-top: 15pt;
	}
	.button h2 {
		font-size: 10pt;
	}
	.project-wrap {
		float: left;
		width: 89.75%;
	}
	.project-wrap .desc-box {
		float: left;
		margin: 0;
	}
	.project-wrap img {
		float: right!important;
		margin: 0!important;
	}
}
/*565 - 736*/

/*737 - 815 SIDEWAYS PHONES*/
@media only screen and (min-aspect-ratio: 7/5) and (min-width: 737px) and (max-width: 815px) {
	.project-wrap {
		float: left;
		width: 89.75%;
	}
	.project-wrap .desc-box {
		float: left;
		margin: 0;
	}
	.project-wrap img {
		float: right!important;
		margin: 0!important;
	}
}
/*SPRITE SPECIFIC MEDIA QUERIES*/
@media only screen and (max-height: 700px) {
	#logo-sprite {
		height: 352px;
		width: 264px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -14432px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -14432px }
		to { background-position: 0px 0px }
	}
}

@media only screen and (min-height: 701px) {
	#logo-sprite {
		height: 380px;
		width: 285px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -15580px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -15580px }
		to { background-position: 0px 0px }
	}
}
/*END SPRITE SPECIFIC MEDIA QUERIES*/
/*737*/
@media only screen and (min-width: 737px) {
	.section {
		height: 414px;
	}
	.footer {
		height: 207px;
	}
	.footer h1 {
		font-size: 9pt;
	}
	.desc-box {
		width: 150pt;
	}
	.desc-box h1 {
		font-size: 18pt;
		margin-bottom: 15pt;
	}
	.desc-box p {
		font-size: 10pt;
	}
	.desc-box h3 {
		font-size: 10pt;
		margin-bottom: 10pt;
	}
	.button {
		width: 70pt;
		height: 35pt;
		margin-top: 20pt;
	}
	.button h2 {
		font-size: 11pt;
	}
}
/*768 tall (IPAD)*/

/*1024*/
@media only screen and (min-width: 1024px) {
	#logo-sprite {
		height: 300px;
		width: 225px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -12300px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -12300px }
		to { background-position: 0px 0px }
	}
	.menu-section ol li {
		font-size: 12pt;
	}
	.menu-section ol li:nth-child(1) {
		margin-right: 28pt;
	}
	.menu-section ol li:nth-child(2) {
		margin-right: 28pt;
	}
	.footer {
		height: 150px;
	}
	.footer h1 {
		font-size: 9pt;
	}
	.section {
		height: 600px;
	}
	.desc-box {
		width: 250px;
	}
	.desc-box h1 {
		font-size: 22pt;
		margin-bottom: 20px;
	}
	.desc-box h3 {
		font-size: 10pt;
		margin-bottom: 12pt;
	}
	.desc-box p {
		font-size: 10pt;
	}
	.desc-box ol {
		margin-top: 15pt;
	}
	.desc-box ol li {
		font-size: 10pt;
		margin-top: 3pt;
	}
	.button {
		width: 90px;
		height: 40px;
		margin-top: 40px;
	}
	.button h2 {
		font-size: 10pt;
		letter-spacing: 1pt;
	}
}
/*1024*/

/*1280*/
@media only screen and (min-width: 1280px) {
	#logo-sprite {
		height: 360px;
		width: 270px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -14760px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -14760px }
		to { background-position: 0px 0px }
	}
	.footer {
		height: 180px;
	}
	.footer h1 {
		font-size: 10pt;
	}
	.section {
		height: 720px;
	}
	.desc-box {
		width: 270px;
	}
	.desc-box h1 {
		font-size: 24pt;
		margin-bottom: 30px;
	}
	.desc-box h3 {
		font-size: 11pt;
		margin-bottom: 15pt;
	}
	.desc-box p {
		font-size: 11pt;
	}
	.desc-box ol {
		margin-top: 20pt;
	}
	.desc-box ol li {
		font-size: 11pt;
		margin-top: 4pt;
	}
	.button {
		width: 100px;
		height: 50px;
		margin-top: 50px;
	}
	.button h2 {
		font-size: 12pt;
		letter-spacing: 1pt;
	}
}
/*1280*/

/*1366*/
@media only screen and (min-width: 1366px) {
	#logo-sprite {
		height: 384px;
		width: 288px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -15744px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -15744px }
		to { background-position: 0px 0px }
	}
	.footer {
		height: 174px;
	}
	.footer h1 {
		font-size: 10pt;
	}
	.section {
		height: 768px;
	}
	.desc-box {
		width: 300px;
	}
	.desc-box h1 {
		font-size: 26pt;
		margin-bottom: 30px;
	}
	.desc-box h3 {
		font-size: 12pt;
		margin-bottom: 15pt;
	}
	.desc-box p {
		font-size: 12pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 12pt;
		margin-top: 4pt;
	}
	.button {
		width: 120px;
		height: 50px;
		margin-top: 60px;
	}
	.button h2 {
		font-size: 14pt;
		letter-spacing: 1pt;
	}
}
/*1366*/

/*1600*/
@media only screen and (min-width: 1600px) {
	#logo-sprite {
		height: 452px;
		width: 339px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -18532px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -18532px }
		to { background-position: 0px 0px }
	}
	.footer {
		height: 225px;
	}
	.footer h1 {
		font-size: 11pt;
	}
	.section {
		height: 900px;
	}
	.desc-box {
		width: 320px;
	}
	.desc-box h1 {
		font-size: 28pt;
		margin-bottom: 30px;
	}
	.desc-box h3 {
		font-size: 13pt;
		margin-bottom: 15pt;
	}
	.desc-box p {
		font-size: 13pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 13pt;
		margin-top: 4pt;
	}
	.button {
		width: 120px;
		height: 50px;
		margin-top: 60px;
	}
	.button h2 {
		font-size: 14pt;
		letter-spacing: 1pt;
	}
}
/*1600*/


/*1920*/
@media only screen and (min-width: 1900px) {
	#logo-sprite {
		height: 540px;
		width: 405px;
	}
	@keyframes draw-sprite {
		from { background-position: 0px 0px }
		to { background-position: 0px -22140px }
	}
	@keyframes draw-sprite-reverse {
		from { background-position: 0px -22140px }
		to { background-position: 0px 0px }
	}
	.footer {
		height: 250px;
	}
	.footer h1 {
		font-size: 11pt;
	}
	.section {
		height: 1000px;
	}
	.desc-box {
		width: 370px;
	}
	.desc-box h1 {
		font-size: 30pt;
		margin-bottom: 50px;
	}
	.desc-box h3 {
		font-size: 14pt;
		margin-bottom: 20pt;
	}
	.desc-box p {
		font-size: 14pt;
	}
	.desc-box ol {
		margin-top: 30pt;
	}
	.desc-box ol li {
		font-size: 14pt;
		margin-top: 4pt;
	}
	.button {
		width: 150px;
		height: 60px;
		margin-top: 80px;
	}
	.button h2 {
		font-size: 16pt;
		letter-spacing: 1pt;
	}
}
/*1920*/






/*RATIOS*/
@media only screen and (max-aspect-ratio: 5/7) {
	.menu-section {
		position: fixed;
		top: 0;
		width: 100%;
		height: 15vh;
		background-color: #f8f0ed;
		border-bottom: solid 1px rgba(0,0,0,0.1);
	}
	.menu-section ol {
		transform: rotate(0) translate(-50%, 0);
		left: 50%;
		top: auto;
		bottom: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 3%;
	}
	.menu-section .button {
		display: none;
	}
	#menu-logo {
		position: absolute;
		top: 0; left: 0; right: 0;
		margin: auto;
		margin-top: 5%;
	}
	.content-section {
		width: 80%;
		margin-left: 10%;
		margin-top: 15vh;
		height: auto;
		display: inline-block;
		position: relative;
	}
	.section {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 20%;
	}
	.full {
		height: 75vh;
		transform: translateX(0);
	}
	.footer {
		height: 25vh;
	}
	#footer-logo {
		display: none;
	}
	
	
	

	
	.desc-box {
		position: relative;
		float: left;
		transform: translateY(30%);
		top: inherit;
		width: 100%;
		margin: 0;
		order: 2;
	}
	#img-paris-view {
		position: relative;
		transform: translate(0);
		top: inherit;
		width: 100%;
		margin-top: 15%;
		order: 1;
	}
	#img-paris-view-overlay {
		width: 100%;
		margin: 0;
		margin-top: 15%;
	}
	.fadeInUp {
		transform: translateY(0)!important;
		opacity: 1;
	}
	
	
	#img-me {
		position: relative;
		top: inherit;
		width: 100%;
		margin: 0;
		order: 1;
		margin-top: 15%;
	}
	#img-me-overlay {
		width: 100%;
		margin: 0;
		top: 0;
		margin-top: 15%;
	}
	#img-services {
		position: relative;
		top: inherit;
		margin: inherit;
		width: 100%;
		order: 1;
		margin-top: 15%;
	}
	#img-services-overlay {
		position: absolute;
		margin: inherit;
		top: 0;
		bottom: inherit;
		width: 100%;
		order: 1;
		margin-top: 15%;
	}
	
	
	
	
	.project-wrap {
		width: 100%;
	}
	.project-wrap .desc-box {
		float: left;
		margin: 0;
	}
	.project-wrap img {
		float: left!important;
		margin: 0!important;
		width: 100%!important;
	}
	
	.project-section img {
		margin-bottom: 50pt;
	}
	.project-section video {
		margin-bottom: 50pt;
	}
	#close-btn {
		width: 20px;
		height: 20px;
		bottom: 0;
		top: auto;
		transform: translate(0);
		margin: auto;
		margin-bottom: 2%;
	}
	
}



@media only screen and (min-width: 320px) and (max-width: 815px) and (max-aspect-ratio: 5/7) {
	.menu-section ol li {
		font-size: 10pt;
	}
	.menu-section ol li:nth-child(1) {
		margin-right: 32pt;
	}
	.menu-section ol li:nth-child(2) {
		margin-right: 32pt;
	}
	.footer h1 {
		font-size: 8pt;
	}
	.opening-desc .desc-box {
		margin-top: 20pt;
	}
	.desc-box {
		margin-top: 20pt;
		width: 160pt;
	}
	.desc-box h1 {
		font-size: 15pt;
		margin-bottom: 15pt;
	}
	.desc-box p {
		font-size: 9pt;
	}
	.desc-box h3 {
		font-size: 9pt;
	}
	.desc-box ol {
		margin-top: 10pt;
	}
	.desc-box ol li {
		font-size: 9pt;
	}
	.button {
		width: 70px;
		height: 40px;
		margin-top: 15pt;
	}
	.button h2 {
		font-size: 11pt;
	}
	.project-wrap {
		margin-top: 50pt;
	}
	.project-wrap img {
		margin-top: 20pt!important;
	}
}